.background-container::before {
  content: "";
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100vh;
  z-index: 1; /* Ensure the overlay is above the background image */
}